@import 'Warn.less';
@import 'tabs/Tabs.less';

.object-render {
    color: var(--base-font-color);
    font-family: @code-font;
    display: flex;
    flex-direction: column;
    flex: 1;

    .json-view {
        overflow-y: auto;
        height: 600px;
        user-select: text;
    }

    .react-codemirror2 {
        flex: 1;
        display: flex;
        flex-direction: column;

        .CodeMirror {
            flex: 1;
            background-color: var(--base-background-color);
        }
    }

}



