.warn-container {
    height: 100%;
    .warn-message {
        position: absolute;
        right: 0;
        z-index: 99;
        width: 400px;
        background-color: #E25251;
        color: white;
        padding: 8px;
        border-radius: 5px;
        user-select: text;
    }
}
