.code-style {
    background-color: var(--markdown-code-background-color);
    color: var(--base-text-color);
    .code-font();
}

.app-markdown-render {
    color: var(--base-text-color);
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    // https://blog.csdn.net/caimaomaocai/article/details/96483073 解决文本超出溢出问题
    word-wrap:break-word;
    word-break:break-all;



    .markdown-divider {
        flex: 0 0 20px;
    }
    .app-markdown-editor {
        font-family: @normal-font;
        flex: 0 0 48%;
        border: 2px solid gray;
        border-radius: 5px;
        margin-right: 5px;
        background-color: var(--base-background-color);
        resize: unset;
        outline: none;

        padding: 10px;

        blockquote {
            font-style: italic;
            padding-left: 10px;
        }
        // code block
        .editor-code-block {
            margin: 0;
            padding: 0 10px;
            background-color: var(--markdown-code-background-color);
            color: var(--base-text-color);

            &.first-true {
                padding-top: 10px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            &.last-true {
                padding-bottom: 10px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            .app-markdown-header {
                // 解决代码段里面的header问题
                font-weight: normal;
                font-size: 1em;
                margin: inherit;
                display: inline;
            }
        }

        code {
            padding: 0 1px;
            background-color: var(--markdown-code-background-color);
            color: var(--base-text-color);
            border-radius: 5px;
        }
    }

    .CodeMirror {
        height: auto;
    }
    .app-markdown-preview {
        user-select: text;
        flex: 0 0 48%;
        border: 2px solid gray;
        border-radius: 5px;
        margin-left: 5px;


        color: var(--base-text-color);

        h1, h2, h3, h4, h5, h6 {
            color: var(--base-text-color);
        }

        // markdown format
        padding: 10px;

        // code
        code.app {
            .code-style();
            padding: 0px 5px;
            border-radius: 5px;
        }

        pre code {
            .code-style();
        }
        // pre
        pre.app {
            .code-style();
            padding: 10px 10px;
            border-radius: 5px;
        }
        // code
        .react-codemirror2 {
            margin-bottom: 10px;
        }
        // anchor
        a {
            color: #00baff;

            &:hover {
                color: #36f2ff;
            }
        }

        // blockquote
        blockquote {
            font-style: italic;
            padding: 5px 10px;
            border-left: 5px solid gray;
            margin-left: 20px;

            p {
                margin: 0;
            }
        }
    }
}

.app-markdown-header {
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 10px 0;
    display: inline-block;
}