@padding: 20px;

.json-type-string {
    color: #E6DB74;
}

.json-type-kv {
    padding-left: @padding;
}

.json-type-array-v {
    padding-left: @padding;
}

.json-type-key {
    font-weight: bold;
    color: #E6DB74;
}

.json-type-number {
    color: #AE82FF;
}

.json-type-null {
    color: #AE82FF;
}

.json-type-boolean {
    color: #F92772;
}

.ant-tabs-tab {
    color: var(--base-font-color);

    &.ant-tabs-tab-active {
        color: var(--base-font-color);
    }

    &.ant-tabs-tab-disabled {
        color: #ff7830;
    }
}

.json-text {
    color: var(--base-font-color);
    background: var(--base-background-color);
    input, textarea {
        background: var(--base-background-color);
        outline: none;
        border-color: var(--base-active-background-color);
    }
}