.tree-select, .tree-select ul {
    list-style: none;
}

.tree-select {
    padding-left: 5px;
}

.tree-select ul {
    padding-left: 20px;
}

.tree-select li {
}

div.menu-item {
    padding: 2px 5px;
}

.select-item:hover {
    background-color: #e8e7e4;
}

.select-item.selected-true {
    background-color: #e8e7e4;
}