.tree-select, .tree-select ul {
    list-style: none;
}

.tree-select {
    padding-left: 5px;
}

.tree-select ul {
    padding-left: 20px;
}

.tree-select li {
}

div.menu-item {
    padding: 2px 5px;
}

.select-item:hover {
    background-color: #e8e7e4;
}

.select-item.selected-true {
    background-color: #e8e7e4;
}

/*expand*/

.title-prefix {
    float: left;
    display: inline-block;
    outline: none;
    border: none;
    background-color: inherit;
    border-radius: 3px;
    padding: 3px;
    height: 25px;
    width: 25px;
    cursor: default;
    user-select: none;
}

.expand-button {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.expand-button:hover {
    background-color: #dad9d7;
}

.expand-button.expanded-true {
    transform: rotate(90deg);
}
/*expand*/