@app-title-height: 60px;
@app-bottom-height: 70px;

.app-right-content {
  display: flex;
  flex: auto;
  flex-direction: row;

  .app-content-padding {
    flex: 1 1;
  }

  .post-editor {
    flex: 3 1 500px;
  }
}

.post-editor {

  .title {
    height: @app-title-height;
  }

  .content {
    max-height: 100%;
    height: calc(100% - @app-title-height - @app-bottom-height);
  }

  .bottom {
    height: @app-bottom-height;
  }
}