@app-title-height: 60px;
@app-bottom-height: 70px;

.app-right-content {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    align-items: stretch;

    .app-content-padding {
        flex: 1 1;
    }

    .post-editor {
        padding: 0 50px;
        flex: 0 1 800px;
        width: 800px;

        display: flex;
        flex-direction: column;

        .title {
            flex: 0 0 @app-title-height;

            input {
                background-color: var(--base-content-backend-color);
                color: var(--base-text-color);
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            flex: auto;
            overflow: auto;
            margin-bottom: 20px;
            color: var(--base-text-color);
            font-size: 16px;
        }
    }
}