@import 'components/components.less';
.job-render {
    color: var(--base-text-color);
    background-color: var(--base-background-color);
    overflow-y: auto;
}

.MuiListItemIcon-root {
    color: inherit !important;
}