.focus-mode-container {
    background: var(--base-content-backend-color);
    height: 100%;
    display: flex;
    overflow-y: hidden;
    flex-direction: row;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    justify-content: center;

    .focus-mode-scroll {
        transition: all .5s;
        width: 900px;
        height: auto;
        top: 180px;
        position: absolute;

        display: flex;
        flex-direction: column;
        overflow: hidden;

        .slate-editor {
            overflow: hidden;
        }

        .app-post-toc {
            visibility: hidden;
        }

        .slate-editor > [data-slate-object="block"] {
            opacity: .1;
        }

        .focus-block {
            opacity: 1 !important;
        }
    }
}


