.focus-mode-container {
    height: 100%;
    display: flex;
    overflow-y: hidden;

    .focus-mode-scroll {
        height: 10000px;
        background-color: #4ca8de;
    }
}


#focus-mode-rect {
    background-color: #5A8856;
}