html {
    --base-sider-menu-color: #989795;
    --base-font-color: black;
    --base-font-hover-color: rgba(0, 0, 0, .85);
    --base-font-active-color: rgba(0, 0, 0, 1.0);
    --base-font-disable-color: rgba(0, 0, 0, 0.35);

    --base-text-color: rgba(0, 0, 0, 1);

    --base-background-color: white;
    --base-hover-background-color: #e6e6e6;
    --base-active-background-color: #d6d6d6;
    --base-disable-color: #CFCFCD;
    --base-content-backend-color: white;
    --base-background-highlight-color: #f7f6f3;
}