.find-in-page {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 200px;
    color: var(--base-text-color);
    background: var(--base-hover-background-color);

    border-radius: 20px;
    padding-left: 8px;

    input {
        padding: 2px 5px;
        outline: none;
        border: 0;
        width: calc(100% - 40px);
        background: var(--base-hover-background-color);
    }

    i {
        display: inline-block;
    }

    .next {
        display: inline-block;
        color: var(--base-font-color);
        padding: 0px 3px;
        border-radius: 5px;

        &:hover {
            background-color: var(--base-background-color);
        }

        &:active {
            background-color: var(--base-active-background-color);
        }

        border: 1px solid var(--base-background-color);
        box-sizing: content-box;
    }
}