.app-tag {
    border-radius: 3px;
    background-color: #4c4c4c;
    margin: 0 5px;
    padding: 5px;

    &.enable-true {
        background-color: green;
    }

    &.enable-false {
        background-color: #606060;
    }
}

.app-user-command {
    border-radius: 4px;
    margin: 4px;
    border: 1px solid #8a8a8a;

    .command-title {

        display: flex;
        flex-direction: row;
        padding: 10px 20px;
        justify-content: space-between;
        align-items: center;

        .title {
            font-weight: bold;
        }

        .right {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .command-operation {
            margin: 0 5px;
        }
    }

    .command-edit {
        padding: 10px;
    }
}

.app-popover {
    background-color: rgba(0, 0, 0, 0.3);
}

.app-delete-pop {
    background-color: var(--base-background-color);
    color: var(--base-text-color);
    padding: 10px;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 1.2em;
        color: var(--base-text-color);
    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: end;
        button {
            margin: 0 5px;
        }
    }
}