.sider-menu {
    color: @base-sider-menu-color;
    min-width: 300px;
}

.menu-item:hover .plus-icon {
    opacity: 1;
}

.menu-item .plus-icon {
    /*todo update*/
    opacity: 1;
    height: 22px;
    width: 22px;
    padding: 0;
    margin-right: 3px;
}

.menu-item {
    user-select: none;
}


.actions {
    list-style: none;

    margin: 0;
    padding: 0;

    a {
        color: @base-sider-menu-color
    }
    a:active, a:hover {
        color: black;
    }
}

.title {

}



.create-button {
    width: 100%;
}