.nav {
    display: flex;
    align-items: center;
    overflow: hidden;
    a {
        flex: 0 0 auto;
        display: inline-block;
        color: black;
        padding: 2px 5px;
        margin-left: 4px;

        border-radius: 3px;

        &:hover {
            background-color: #EFEFEF;
        }

        &.disable-true {
            color: @base-disable-color;
            background-color: inherit;
        }
    }


}