.nav {
    display: flex;
    align-items: center;
    a {
        display: inline-block;
        color: black;
        padding: 2px 5px;
        margin-left: 4px;

        border-radius: 3px;

        &:hover {
            background-color: #EFEFEF;
        }
    }
}