@import 'actions/More.less';
@import 'Nav.less';

@top-bar-height: 40px;

.top-button {
    display: inline-block;
    color: var(--base-font-color);
    padding: 4px;
    margin-right: 4px;

    border-radius: 5px;

    &:hover {
        background-color: var(--base-hover-background-color);
    }
}

.hover-show {
    opacity: 0;
    transition: opacity .5s;

    &:hover {
        opacity: 1;
    }
}

.top-bar {
    flex: 0 0 @top-bar-height;
    background-color: var(--base-content-backend-color);
    color: var(--base-font-color);
    display: flex;
    justify-content: space-between;
    .drag-handle();

    .tools {
        flex: 00 00 auto;

        a {
            .top-button();
        }
    }

    padding: 4px;

}