.app-left-side {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    transition: none;
    background-color: var(--base-background-color);
    .app-left-handle {
        height: 44px;
        user-select: none;
        .drag-handle();
    }


    .resize-handle {
        transition: all .3s;
        width: 2px;
        background-color: inherit;

        &:hover {
            background-color: var(--base-hover-background-color);
        }
        &:active {
            background-color: var(--base-active-background-color);
        }
    }
}