.form-item {
    background-color: var(--base-background-color);
    padding: 10px;
    .form-label {
        font-size: 0.7rem;
        font-weight: bold;
    }

    .form-content {
        box-sizing: border-box;
        //border: 1px solid #1A76D2;
        border-radius: 5px;
        padding-top: 8px;
        display: flex;
        flex-direction: column;

        &:focus {
            border-width: 3px;
        }
    }
}


.grace-collapse {
    border: solid 1px;
    background-color: var(--base-hover-background-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .header {
        padding: 10px 10px;
        background-color: var(--base-active-background-color);
        color: var(--base-text-color);
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .icon {
            margin-right: 10px;
        }

        .title-content {
            flex: 1;
        }
        cursor: pointer;

    }

    .collapse-content {
        padding: 5px;
        color: var(--base-text-color);
        button {
            background-color: inherit;
            color: var(--base-text-color);
            padding: 10px;
        }
    }
}

.grace-list {
    display: flex;
    flex-direction: column;

    .delete-button {
        color: var(--base-text-color);
        background-color: inherit;
        padding: 5px;
        border-radius: 5px;

        &:hover {
            background-color: var(--base-hover-background-color);
        }
    }
    .footer {
        padding: 5px;
        display: flex;
        flex-direction: column;
        button {
            border-radius: 5px;
            outline: none;
            &:hover {
                background-color: var(--base-active-background-color);
            }
        }

    }
}

.nullable-value {
    display: flex;
    flex-direction: row;

    .ant-checkbox-wrapper {
        margin-right: 10px;
    }
}