.form-item {
    background-color: var(--base-background-color);
    padding: 10px;
    .form-label {
        font-size: 0.7rem;
        font-weight: bold;
    }

    .form-content {
        box-sizing: border-box;
        //border: 1px solid #1A76D2;
        border-radius: 5px;
        padding-top: 8px;
        display: flex;
        flex-direction: column;

        &:focus {
            border-width: 3px;
        }
    }
}


.grace-collapse {
    border: solid 1px;
    background-color: var(--base-hover-background-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .header {
        padding: 10px 10px;
        background-color: var(--base-active-background-color);
        color: var(--base-text-color);
        border-radius: 5px;

        .icon {
            margin-right: 10px;
        }
    }

    .content {
        padding: 5px;
        color: var(--base-text-color);
    }
}

.grace-list {
    display: flex;
    flex-direction: column;

}