.app-setting-view {
    user-select: none;
    min-width: 400px;
    .app-setting-content {
        padding: 10px 0;
        margin-bottom: 6px;
    }

    // 边栏
    .ant-tabs-nav-wrap {
        width: 100px;
    }
    .language-select {
        width: 100%;
    }
}