@button-color: hsl(0, 0%, 40%);

.operation-button {
  display: inline-block;
  height: 20px;
  width: 20px;

  border-radius: 5px;

  float: right;

  &:active {
    background: @button-color;
  }

  &:hover {
    background: lighten(@button-color, 20%);
    color: @button-color;
  }
}

.operation-button-container {
  display: flex;
  justify-content: center; // 水平居中
  align-items: center; // 垂直居中
  height: 100%;
  width: 100%;
}